@page "/user/transactionobjectview"
@layout Hotaru.Shared.LayOut.UserLayout
@using Hotaru.shared.Models
<div class="main">
    <div class="row">
        <div class="col-4">
            <BSCard CardType="CardType.Card">

                <BSCard CardType="CardType.Image" VerticalAlignment="VerticalAlignment.Top" src="@model.imglink" alt="Card image cap" />

                <BSCard CardType="CardType.Body">

                    <BSCard CardType="CardType.Title">@model.name</BSCard>

                    <BSCard CardType="CardType.Subtitle">@model.address</BSCard>

                    <BSCard CardType="CardType.Text">
                        @model.describe
                    </BSCard>

                </BSCard>

            </BSCard>
        </div>
        <div class="col-8 pd-20">
            <h3>
                <span class="mr-2 oi oi-info"></span>
                About
            </h3>
            <div class="row">
                <div class="col-5 pb-3">
                    Transaction staff:
                </div>
                <div class="col-7 pb-3">
                    @CT.AccountingName
                </div>
                <div class="col-5 pb-3">
                    Transaction date:
                </div>
                <div class="col-7 pb-3">
                    <BSBasicInput InputType="InputType.Date" Value="@CT.TransactionDate" IsDisabled="true"></BSBasicInput>
                </div>
                <div class="col-5 pb-3">
                    Date check in:
                </div>
                <div class="col-7 pb-3">
                    <BSBasicInput InputType="InputType.Date" Value="@CT.DatePickInAdvance" IsDisabled="true"></BSBasicInput>
                </div>
                <div class="col-5 pb-3">
                    Date return:
                </div>
                <div class="col-7 pb-3">
                    <BSBasicInput InputType="InputType.Date" Value="@CT.DateReturn" IsDisabled="true"></BSBasicInput>
                </div>
                <div class="col-5 pb-3">
                    Total price:
                </div>
                <div class="col-7 pb-3">
                    @CT.BillPrice
                </div>
                <div class="col-5 pb-3">
                    Addtional fee description:
                </div>
                <div class="col-7 pb-3">
                    @CT.AddtionalFeeDescription
                </div>
                <div class="col-5 pb-3">
                    Addtional fee:
                </div>
                <div class="col-7 pb-3">
                    @CT.AddtionalFee
                </div>
            </div>
        </div>
    </div>
</div>
@code{
    Hotel model;

    CustomerTransaction CT;

    protected override void OnInitialized()
    {
        DateTime nowz = DateTime.Now;

        DateTime nowzt = nowz.AddDays(20);

        model = new Hotel("Valley Hotel", "129/2A Broadla Coaster Washington DC", "https://r-cf.bstatic.com/images/hotel/max1024x768/231/231141387.jpg", "Our hotel is 5 star rated on Roasted-Tomato, with about more than 1000m2 in space and 60 room of all kind");

        CT = new CustomerTransaction("Some Name","Valley hotel", "Michael", nowz, nowzt, nowzt, "Room for 1 people", 100000, "No adding fee", 0);
    }

}