@page "/manager/bookingstatus"
@page "/manager/bookingstatus/{pageId:int}"
@layout Hotaru.Shared.LayOut.ManagerLayout
@inject NavigationManager nvg
@using Hotaru.shared.Models
<div class="main">
    <div class="col-12">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Customer name" @bind-value="srchStr">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" @onclick="search">Search</button>
            </div>
        </div>
        @if ((PageId != model.MaxPages - 1) || (model.MaxObject % model.ObjectEachPage == 0))
        {
            for (int i = 0; i < model.ObjectEachPage / 2; i++)
            {
                int object1 = PageId * model.ObjectEachPage + 1 + i * 2;
                int object2 = object1 + 1;
                <div class="row">
                    @if (object1 < bkl.bookingList.Count)
                    {
                        <div class="media pb-5 col-6">
                            <img class="mr-3 img-thumbnail" src="https://image.shutterstock.com/image-vector/silhouette-people-unknown-male-person-260nw-1372192277.jpg" alt="Generic placeholder image" style="width:200px;height:250px;">
                            <div class="media-body">
                                <label>User name:</label>
                                <h3 class="mt-0"> @bkl.bookingList[object1].UserName</h3>
                                <label>Room name:</label>
                                <p>@bkl.bookingList[object1].Room_Name</p>
                                <label>Date pick in advance:</label>
                                <BSBasicInput InputType="InputType.Date" Value="bkl.bookingList[object1].DatePickInAdvance" IsDisabled="true"></BSBasicInput>
                                <BSButton Class="p-3" Color=Color.Primary Size=Size.ExtraSmall OnClick="@(() => acceptCustomer(object1))">Accept</BSButton>
                                <BSButton Class="p-3" Color=Color.Danger Size=Size.ExtraSmall OnClick="@(() => declineCustomer(object1))">Decline</BSButton>
                            </div>
                        </div>
                    }
                    @if (object2 < bkl.bookingList.Count)
                    {
                        <div class="media pb-5 col-6">
                            <img class="mr-3 img-thumbnail" src="https://image.shutterstock.com/image-vector/silhouette-people-unknown-male-person-260nw-1372192277.jpg" alt="Generic placeholder image" style="width:200px;height:250px;">
                            <div class="media-body">
                                <label>User name:</label>
                                <h3 class="mt-0"> @bkl.bookingList[object2].UserName</h3>
                                <label>Room name:</label>
                                <p>@bkl.bookingList[object2].Room_Name</p>
                                <label>Date pick in advance:</label>
                                <BSBasicInput InputType="InputType.Date" Value="bkl.bookingList[object2].DatePickInAdvance" IsDisabled="true"></BSBasicInput>
                                <BSButton Class="p-3" Color=Color.Primary Size=Size.ExtraSmall OnClick="@(() => acceptCustomer(object2))">Accept</BSButton>
                                <BSButton Class="p-3" Color=Color.Danger Size=Size.ExtraSmall OnClick="@(() => declineCustomer(object2))">Decline</BSButton>
                            </div>
                        </div>
                    }
                </div>
            }
        }
        else
        {
            for (int i = 0; i < (model.MaxObject % model.ObjectEachPage + 1) / 2; i++)
            {
                int object1 = PageId * model.ObjectEachPage + 1 + i * 2;
                int object2 = object1 + 1;
                <div class="row">
                    @if (object1 < bkl.bookingList.Count)
                    {
                        <div class="media pb-5 col-6">
                            <img class="mr-3 img-thumbnail" src="https://image.shutterstock.com/image-vector/silhouette-people-unknown-male-person-260nw-1372192277.jpg" alt="Generic placeholder image" style="width:200px;height:250px;">
                            <div class="media-body">
                                <label>User name:</label>
                                <h3 class="mt-0"> @bkl.bookingList[object1].UserName</h3>
                                <label>Room name:</label>
                                <p>@bkl.bookingList[object1].Room_Name</p>
                                <label>Date pick in advance:</label>
                                <BSBasicInput InputType="InputType.Date" Value="bkl.bookingList[object1].DatePickInAdvance" IsDisabled="true"></BSBasicInput>
                                <BSButton Class="p-3" Color=Color.Primary Size=Size.ExtraSmall OnClick="@(() => acceptCustomer(object1))">Accept</BSButton>
                                <BSButton Class="p-3" Color=Color.Danger Size=Size.ExtraSmall OnClick="@(() => declineCustomer(object1))">Decline</BSButton>
                            </div>
                        </div>
                    }
                    @if (object2 < bkl.bookingList.Count)
                    {
                        <div class="media pb-5 col-6">
                            <img class="mr-3 img-thumbnail" src="https://image.shutterstock.com/image-vector/silhouette-people-unknown-male-person-260nw-1372192277.jpg" alt="Generic placeholder image" style="width:200px;height:250px;">
                            <div class="media-body">
                                <label>User name:</label>
                                <h3 class="mt-0"> @bkl.bookingList[object2].UserName</h3>
                                <label>Room name:</label>
                                <p>@bkl.bookingList[object2].Room_Name</p>
                                <label>Date pick in advance:</label>
                                <BSBasicInput InputType="InputType.Date" Value="bkl.bookingList[object2].DatePickInAdvance" IsDisabled="true"></BSBasicInput>
                                <BSButton Class="p-3" Color=Color.Primary Size=Size.ExtraSmall OnClick="@(() => acceptCustomer(object2))">Accept</BSButton>
                                <BSButton Class="p-3" Color=Color.Danger Size=Size.ExtraSmall OnClick="@(() => declineCustomer(object2))">Decline</BSButton>
                            </div>
                        </div>
                    }
                </div>
            }
        }
    </div>
    <BSPagination Alignment="Alignment.Center">
        <BSPaginationItem IsDisabled="IsFirstPage()">

            <BSPaginationLink Href="@URLPage(PageId-1)" PaginationLinkType="PaginationLinkType.PreviousText"></BSPaginationLink>

        </BSPaginationItem>
        @if (model.MaxPages < 10)
            for (int i = 0; i < model.MaxPages; i++)
            {
                if (PageId == i)
                {
                    int numPage = i;
                    <BSPaginationItem IsActive="true">

                        <BSPaginationLink Href="@URLPage(numPage)">@numPage</BSPaginationLink>

                    </BSPaginationItem>
                }
                else
                {
                    int numPage = i;
                    <BSPaginationItem IsActive="false">

                        <BSPaginationLink Href="@URLPage(numPage)">@numPage</BSPaginationLink>

                    </BSPaginationItem>
                }
            }
        else
        {
            if (PageId < 10)
            {
                for (int i = 0; i < 10; i++)
                {
                    if (PageId == i)
                    {
                        int numPage = i;
                        <BSPaginationItem IsActive="true">

                            <BSPaginationLink Href="@URLPage(numPage)">@numPage</BSPaginationLink>

                        </BSPaginationItem>
                    }
                    else
                    {
                        int numPage = i;
                        <BSPaginationItem IsActive="false">

                            <BSPaginationLink Href="@URLPage(numPage)">@numPage</BSPaginationLink>

                        </BSPaginationItem>
                    }
                }
                <BSPaginationItem IsDisabled="true">

                    <BSPaginationLink Href="">...</BSPaginationLink>

                </BSPaginationItem>
            }
            else
            {
                if (PageId != model.MaxPages - 1)
                {
                    <BSPaginationItem IsDisabled="true">

                        <BSPaginationLink Href="">...</BSPaginationLink>

                    </BSPaginationItem>
                    for (int i = PageId - 9; i < PageId + 1; i++)
                    {
                        if (PageId == i)
                        {
                            int numPage = i;
                            <BSPaginationItem IsActive="true">

                                <BSPaginationLink Href="@URLPage(numPage)">@numPage</BSPaginationLink>

                            </BSPaginationItem>
                        }
                        else
                        {
                            int numPage = i;
                            <BSPaginationItem IsActive="false">

                                <BSPaginationLink Href="@URLPage(numPage)">@numPage</BSPaginationLink>

                            </BSPaginationItem>
                        }
                    }
                    <BSPaginationItem IsDisabled="true">

                        <BSPaginationLink Href="">...</BSPaginationLink>

                    </BSPaginationItem>
                }
                else
                {
                    <BSPaginationItem IsDisabled="true">

                        <BSPaginationLink Href="">...</BSPaginationLink>

                    </BSPaginationItem>
                    for (int i = PageId - 9; i < PageId + 1; i++)
                    {
                        if (PageId == i)
                        {
                            int numPage = i;
                            <BSPaginationItem IsActive="true">

                                <BSPaginationLink Href="@URLPage(numPage)">@numPage</BSPaginationLink>

                            </BSPaginationItem>
                        }
                        else
                        {
                            int numPage = i;
                            <BSPaginationItem IsActive="false">

                                <BSPaginationLink Href="@URLPage(numPage)">@numPage</BSPaginationLink>

                            </BSPaginationItem>
                        }
                    }
                }
            }
        }

        <BSPaginationItem IsDisabled="IsFinalPage()">

            <BSPaginationLink Href="@URLPage(PageId+1)" PaginationLinkType="PaginationLinkType.NextText"></BSPaginationLink>

        </BSPaginationItem>

    </BSPagination>
</div>
@code {

    [Parameter]
    public int PageId { get; set; }


    string URLPage(int numPage)
    {
        string temp = "/manager/bookingstatus/" + numPage.ToString();
        return temp;
    }

    bool IsFirstPage()
    {
        if (PageId == 0) return true;
        else return false;
    }

    bool IsFinalPage()
    {
        if (PageId == model.MaxPages - 1) return true;
        else return false;
    }

    Pagination model = new Pagination(32, 8);

    BookingList Org = new BookingList(32);

    BookingList bkl;

    protected override void OnInitialized()
    {
        bkl = new BookingList();
        BookingData emptyBooking = new BookingData();
        bkl.bookingList.Add(emptyBooking);
        for (int i = 1; i < Org.bookingList.Count; i++)
        {
            //if (Org.bookingList[i].HotelName == HotelName)
            bkl.bookingList.Add(Org.bookingList[i]);
        }
        model = new Pagination(bkl.bookingList.Count, 8);

    }

    string srchStr = string.Empty;

    void search()
    {
        nvg.NavigateTo("/manager/bookingstatus");
        bkl = new BookingList();
        BookingData emptyBooking = new BookingData();
        bkl.bookingList.Add(emptyBooking);
        for (int i = 1; i < Org.bookingList.Count; i++)
        {
            if (Org.bookingList[i].UserName.Contains(srchStr, StringComparison.OrdinalIgnoreCase))
                bkl.bookingList.Add(Org.bookingList[i]);
        }
        model = new Pagination(bkl.bookingList.Count,8);
    }

    void acceptCustomer(int num)
    {
        //add customer to customer management
        BookingData temp = bkl.bookingList[num];
        Org.bookingList.Remove(temp);
        bkl.bookingList.Remove(temp);
        model = new Pagination(bkl.bookingList.Count, 8);
        nvg.NavigateTo("/manager/bookingstatus");
    }

    void declineCustomer(int num)
    {
        BookingData temp = bkl.bookingList[num];
        Org.bookingList.Remove(temp);
        bkl.bookingList.Remove(temp);
        model = new Pagination(bkl.bookingList.Count, 8);
        nvg.NavigateTo("/manager/bookingstatus");
    }
}
